<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            TinyApp
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/urls">Index</a></li>
        </ul>
    </div>

 <% if (user === undefined) { %>

   <form method="GET" action="/login">
     <input type="submit" name="Sign In" value="Sign In">
   </form>

      <form method="GET" action="/register">
     <input type="submit" name="Sign Up" value="Sign Up">
   </form>

   <% } else { %>

   <p><%= user %></p>
   <form method="POST" action="/logout">
     <input type="submit" name="Log Out" value="Log Out">
   </form>
   <% }; %>


</div>
</nav>