<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<header>
    <% include ./partials/header %>
</header>

  <body>
    <div>   
        <h1>URL Index</h1>
        <p></p>
        <ul>
    <% for(shortUrl in urls) {%>
        <li><%= shortUrl + ":  " + urls[shortUrl] %></li>

        <a href="/urls/<%= shortUrl%>">Edit</a>

        <form method="POST" action="/urls/<%= shortUrl%>/delete">
          <input type="submit" value="Delete">

        </form>
    <% }; %>
</ul>

  <a href="/urls/new">Shorten new URL</a>

    </div>
  </body>

</html>
