<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<header>
    <% include ./partials/header %>
</header>

  <body>
    <div>
      <h1>Individual URLs</h1>
      <p></p>
      <ul>
        <li><%= shortURL + ":  " + longURL%></li>
        <li> 
          <form action="/urls/<%= shortURL%>/update" method="POST">
          <label for="longURL">Update original URL:</label>
          <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
          <input type="submit" value="Update">
          </form>
        </li>
      </ul>
    </div>

  </body>

</html>